@model IEnumerable<webproje2021.Models.urunler>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{ ViewData["Title"] = "Home Page"; }

<
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Simple House Template</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
    <link href="/lib/bootstrap/dist/css/templatemo-style.css" rel="stylesheet" />
</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->
<body>

    <div class="container">
        <!-- Top box -->
        <!-- Logo & Site Name -->
        <div class="placeholder">
            <div class="parallax-window" data-parallax="scroll" data-image-src="/lib/bootstrap/dist/img/photo/simple-house-01.jpg">
                <div class="tm-header">
                    <div class="row tm-header-inner">
                        <div class="col-md-6 col-12">
                            <img src="/lib/bootstrap/dist/img/photo/simple-house-logo.png" alt="Logo" class="tm-site-logo" />
                            <div class="tm-site-text-box">
                                <h1 class="tm-site-title">SERDİVAN RESTORANT</h1>
                                <h6 class="tm-site-description">Ucuza Kalitenin Adresi</h6>
                            </div>
                        </div>
                        <nav class="col-md-6 col-12 tm-nav">
                            <ul class="tm-nav-ul">
                                <li class="tm-nav-ul"><a style="text-decoration: none" asp-area="" asp-controller="Home" asp-action="Index"><span style="color:#ffffff;">ANASAYFA</span> </a>&emsp;</li>
                                <li class="tm-nav-ul"><a style="text-decoration: none" asp-area="" asp-controller="Home" asp-action="About"><span style="color:#ffffff;">HAKKIMIZDA</span> </a>&emsp;</li>
                                <li class="tm-nav-ul"><a style="text-decoration: none" asp-area="" asp-controller="Home" asp-action="Contact"><span style="color:#ffffff;">İLETİŞİM</span> </a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <main>
           <br /><br />
            

            <div class="tm-paging-links">
                <nav>
                    <ul>
                        <li class="tm-paging-item"><a href="#" class="tm-paging-link active">Pizza</a></li>
                        <li class="tm-paging-item"><a href="#" class="tm-paging-link">Salad</a></li>
                        <li class="tm-paging-item"><a href="#" class="tm-paging-link">Noodle</a></li>
                    </ul>
                </nav>
            </div>

            <!-- Gallery -->
            <div class="row tm-gallery">
                <!-- gallery page 1 -->
                <div id="tm-gallery-page-pizza" class="tm-gallery-page">


                    @foreach (var item in Model)
                    {
                         @if (@item.kategori == kategori.Pizza)
                          {
                                  <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                                     <figure>
                                       <img src="@item.resim" alt="Image" class="img-fluid tm-gallery-img" />
                                       <figcaption>
                                         <h4 class="@item.urunadi">@item.urunadi</h4>
                                            <p class="@item.kalori">Kalori : @item.kalori</p>
                                            <p class="@item.fiyati"><span style="color:#ff0000;">@item.fiyati ₺</span></p>
                                       </figcaption>
                                     </figure>
                                  </article>                
                          }
                     }


                </div> <!-- gallery page 1 -->
                <!-- gallery page 2 -->
                <div id="tm-gallery-page-salad" class="tm-gallery-page hidden">
                    @foreach (var item in Model)
                    {
                @if (@item.kategori == kategori.Salata)
                {
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="@item.resim" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="@item.urunadi">@item.urunadi</h4>
                                <p class="@item.kalori">Kalori : @item.kalori</p>
                                <p class="@item.fiyati"><span style="color:#ff0000;">@item.fiyati ₺</span></p>
                            </figcaption>
                        </figure>
                    </article>
                }
                }
                </div> <!-- gallery page 2 -->
                <!-- gallery page 3 -->
                <div id="tm-gallery-page-noodle" class="tm-gallery-page hidden">
                    @foreach (var item in Model)
                    {
                @if (@item.kategori == kategori.Noodle)
                {
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <figure>
                        <img src="@item.resim" alt="Image" class="img-fluid tm-gallery-img" />
                        <figcaption>
                            <h4 class="@item.urunadi">@item.urunadi</h4>
                            <p class="@item.kalori">Kalori : @item.kalori</p>
                            <p class="@item.fiyati"><span style="color:#ff0000;">@item.fiyati ₺</span></p>
                        </figcaption>
                    </figure>
                </article>                }
                }

                </div> <!-- gallery page 3 -->
            </div>
            <div class="tm-section tm-container-inner">
                <div class="row">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
            </div>
        </main>

        <footer class="tm-footer text-center">
        </footer>
    </div>
    <script src="/lib/bootstrap/dist/js/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/parallax.min.js"></script>
    <script>$(document).ready(function(){
			// Handle click on paging links
			$('.tm-paging-link').click(function(e){
				e.preventDefault();

				var page = $(this).text().toLowerCase();
				$('.tm-gallery-page').addClass('hidden');
				$('#tm-gallery-page-' + page).removeClass('hidden');
				$('.tm-paging-link').removeClass('active');
				$(this).addClass("active");
			});
		});</script>
</body>
</html>
